@theme {
    /** variables used by button and button-group utilities */

    --idle-button-fg-white:    var(--color-black);
    --idle-button-bg-white:    var(--color-white);
    --idle-button-sh-white:    var(--color-gray-200);
    --hovr-button-bg-white:    var(--color-gray-200);
    --hovr-button-sh-white:    var(--color-gray-300);

    --idle-button-fg-red-600:  var(--color-white);
    --idle-button-bg-red-600:  var(--color-red-600);
    --idle-button-sh-red-600:  var(--color-red-700);
    --hovr-button-bg-red-600:  var(--color-red-700);
    --hovr-button-sh-red-600:  var(--color-red-800);

    --idle-button-fg-blue-600: var(--color-white);
    --idle-button-bg-blue-600: var(--color-blue-600);
    --idle-button-sh-blue-600: var(--color-blue-700);
    --hovr-button-bg-blue-600: var(--color-blue-700);
    --hovr-button-sh-blue-600: var(--color-blue-800);
}

@utility button-* {
    --border-radius: 4px;
    --button-depth: 4px;
    --button-resistance: 3px;

    appearance: button;
    outline: none;
    border: none;
    border-radius: var(--border-radius);

    position: relative;
    transform-style: preserve-3d;

    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;

    /* prettier-ignore */
    > label { cursor: pointer; }

    /*
     * the ::after pseudo-element below extends 4px beyond the container.
     * adding a bottom margin prevents surrounding elements from
     * overlapping it.
     */
    margin-bottom: var(--button-depth);

    /* */

    &::after {
        content: "";
        position: absolute;
        top: var(--button-depth);
        left: 0;
        width: 100%;
        height: 100%;
        transform: translateZ(-1px);
        border-radius: var(--border-radius);
    }

    &:active {
        top: calc(var(--button-depth) - var(--button-resistance));

        &::after {
            height: calc(100% - var(--button-depth) + var(--button-resistance));
        }
    }

    /* coloring */

    color: --value(--idle-button-fg-*);
    /* prettier-ignore */
    svg, path { stroke: --value(--idle-button-fg-*); fill: --value(--idle-button-fg-*); }
    background-color: --value(--idle-button-bg-*);
    /* prettier-ignore */
    &::after { background-color: --value(--idle-button-sh-*); }

    @media (hover: hover) {
        &:hover {
            /* prettier-ignore */
            background-color: --value(--hovr-button-bg-*);
            /* prettier-ignore */
            &::after { background-color: --value(--hovr-button-sh-*); }
        }
    }
}
